.Notifications {
  border: dashed;
  border-color: rgb(237, 100, 100);
  padding: 2%;
  font-weight: bold;
}

button img {
  width: 15px;
  height: 15px;
}

li[data-priority="default"] {
  color: blue;
}

li[data-priority="urgent"] {
  color: red;
}
